openapi: 3.0.3
info:
  title: MemberClass API
  description: |
    API para gerenciamento de usuários, comentários, atividades do sistema MemberClass
  version: 1.0.0
  contact:
    name: MemberClass Team

servers:
  - url: https://api.memberclass.com.br/
    description: Servidor de produção

tags:
  - name: Comments
    description: Endpoints para gerenciamento de comentários e dúvidas
  - name: Users
    description: |
      Endpoints relacionados a usuários:
      - Informações de usuários
      - Atividades de acesso
      - Resumo de atividades
      - Aulas completadas
      - Compras e reembolsos
  - name: Social
    description: Endpoints para criar e atualizar posts na comunidade (social)
  - name: Students
    description: Endpoints para relatórios de alunos do tenant
  - name: Catalog
    description: |
      Endpoints para recuperar informações do catálogo:
      - Vitrines, cursos, módulos e aulas
      - Listagem completa com hierarquia
      - Busca individual por ID

paths:
  /api/v1/comments:
    get:
      tags:
        - Comments
      summary: Listar comentários
      description: |
        Retorna uma lista paginada de comentários do tenant com filtros opcionais.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
        
        **Filtros disponíveis:**
        - `email`: Filtra por email do usuário (busca parcial, case insensitive)
        - `status`: Filtra por status do comentário (`pendent`, `approved`, `rejected`)
        - `courseId`: Filtra por ID do curso
        - `answered`: Filtra por comentários respondidos (`true` ou `false`)
        
        **Paginação:** Suporta parâmetros `page` e `limit` via query string.
      operationId: getComments
      parameters:
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação
          schema:
            type: string
          example: "your-api-token"
        - name: page
          in: query
          required: false
          description: "Número da página (padrão: 1, mínimo: 1)"
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: "Tamanho da página (padrão: 10, mínimo: 1, máximo: 100)"
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: email
          in: query
          required: false
          description: "Filtra por email do usuário (busca parcial, case insensitive)"
          schema:
            type: string
          example: "user@example.com"
        - name: status
          in: query
          required: false
          description: "Filtra por status do comentário"
          schema:
            type: string
            enum:
              - pendent
              - approved
              - rejected
          example: "approved"
        - name: courseId
          in: query
          required: false
          description: "Filtra por ID do curso"
          schema:
            type: string
          example: "course-123"
        - name: answered
          in: query
          required: false
          description: "Filtra por comentários respondidos"
          schema:
            type: string
            enum:
              - "true"
              - "false"
          example: "true"
      responses:
        '200':
          description: Lista de comentários retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsPaginationResponse'
              example:
                comments:
                  - id: "comment-123"
                    createdAt: "2024-01-15T10:30:00Z"
                    updatedAt: "2024-01-15T11:00:00Z"
                    question: "Qual é a dúvida?"
                    answer: "Esta é a resposta"
                    published: true
                    lessonName: "Aula 01"
                    courseName: "Curso de Go"
                    username: "João Silva"
                    userEmail: "joao@example.com"
                pagination:
                  page: 1
                  limit: 10
                  totalCount: 25
                  totalPages: 3
                  hasNextPage: true
                  hasPrevPage: false
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ok: false
                error: "Parâmetros de paginação inválidos. page >= 1, limit entre 1 e 100"
                errorCode: "INVALID_PAGINATION"
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
              example:
                ok: false
                error: "API key inválida"
                errorCode: "INVALID_API_KEY"
        '404':
          description: Usuário não encontrado ou não associado ao tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ok: false
                error: "Usuário não encontrado"
                errorCode: "USER_NOT_FOUND"
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ok: false
                error: "Erro interno do servidor"
                errorCode: "INTERNAL_ERROR"

  /api/v1/user/informations:
    get:
      tags:
        - Users
      summary: Listar informações dos usuários
      description: |
        Retorna uma lista paginada de informações dos usuários do tenant, incluindo
        entregas (deliveries) associadas e último acesso.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
        
        **Filtros disponíveis:**
        - `email`: Filtra por email do usuário (busca parcial)
        
        **Paginação:**
        - `page`: Número da página (padrão: 1)
        - `limit`: Itens por página (padrão: 10, máximo: 100)
      operationId: getUserInformations
      security:
        - ApiKeyAuth: []
      parameters:
        - name: mc-api-key
          in: header
          required: true
          schema:
            type: string
          description: Token de autenticação da API
          example: "mc_live_abc123..."
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Filtra por email do usuário (busca parcial)
          example: "usuario@exemplo.com"
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Número da página
          example: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: Quantidade de itens por página
          example: 10
      responses:
        '200':
          description: Lista de usuários retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInformationsResponse'
              example:
                users:
                  - userId: "user-123"
                    email: "usuario@exemplo.com"
                    isPaid: true
                    deliveries:
                      - id: "delivery-1"
                        name: "Curso de Programação"
                        accessDate: "2024-01-15T10:30:00Z"
                      - id: "delivery-2"
                        name: "Curso de Design"
                        accessDate: "2024-02-20T14:00:00Z"
                    lastAccess: "2024-03-10T09:15:00Z"
                  - userId: "user-456"
                    email: "outro@exemplo.com"
                    isPaid: false
                    deliveries: []
                    lastAccess: null
                pagination:
                  page: 1
                  totalPages: 5
                  totalItems: 50
                  itemsPerPage: 10
                  hasNextPage: true
                  hasPreviousPage: false
        '400':
          description: Parâmetros inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidPage:
                  summary: Página inválida
                  value:
                    error: "Bad Request"
                    message: "page must be a positive integer"
                invalidLimit:
                  summary: Limite inválido
                  value:
                    error: "Bad Request"
                    message: "limit must be between 1 and 100"
        '401':
          description: Não autorizado - API key inválida ou ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ok: false
                error: "API key inválida"
                errorCode: "INVALID_API_KEY"
        '404':
          description: Usuário não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ok: false
                error: "Usuário não encontrado ou não pertence ao tenant autenticado"
                errorCode: "USER_NOT_FOUND"
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ok: false
                error: "Internal server error"
                errorCode: "INTERNAL_ERROR"

  /api/v1/user/activities:
    get:
      tags:
        - Users
      summary: Listar atividades de acesso do usuário
      description: |
        Retorna uma lista paginada de atividades de acesso de um usuário específico.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
        
        **Cache:** Este endpoint utiliza cache Redis com TTL de 5 minutos para melhorar a performance.
        
        **Paginação:** Suporta parâmetros de paginação via query string.
      operationId: getUserActivities
      parameters:
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação
          schema:
            type: string
          example: "your-api-token"
        - name: email
          in: query
          required: true
          description: Email do usuário
          schema:
            type: string
            format: email
          example: "user@example.com"
        - name: page
          in: query
          required: false
          description: "Número da página (padrão: 1)"
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: "Itens por página (padrão: 10, máximo: 100)"
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: Lista de atividades retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
              example:
                email: "user@example.com"
                access:
                  - data: "2024-01-15T10:30:00Z - Acessou a aula 'Introdução ao Golang'"
                  - data: "2024-01-14T15:20:00Z - Acessou o curso 'Curso de Go'"
                  - data: "2024-01-13T09:10:00Z - Completou a lição 'Variáveis e Tipos'"
                pagination:
                  page: 1
                  limit: 10
                  totalCount: 25
                  totalPages: 3
                  hasNextPage: true
                  hasPrevPage: false
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                emailRequired:
                  summary: Email não informado
                  value:
                    error: "Bad Request"
                    message: "email parameter is required"
                invalidPage:
                  summary: Página inválida
                  value:
                    error: "Bad Request"
                    message: "page must be a positive integer"
                invalidLimit:
                  summary: Limite inválido
                  value:
                    error: "Bad Request"
                    message: "limit must be between 1 and 100"
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
              example:
                ok: false
                error: "API key invalid"
                errorCode: "INVALID_API_KEY"
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Internal Server Error"
                message: "Internal server error"

  /api/v1/user/activity/summary:
    get:
      tags:
        - Users
      summary: Resumo de atividade dos usuários
      description: |
        Retorna um resumo de atividade dos usuários de um tenant, mostrando o email e o último acesso de cada usuário.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
        
        **Regras de Data:**
        - Se `startDate` e `endDate` não informados → últimos 31 dias
        - Se apenas `startDate` → busca do início ao fim daquele dia
        - Se `endDate` sem `startDate` → erro
        - Se `startDate > endDate` → erro
        - Período máximo: **31 dias**
        
        **noAccess:** Se `true`, retorna usuários SEM atividade no período. Se `false` (padrão), retorna usuários COM atividade.
      operationId: getActivitySummary
      parameters:
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação (hash SHA256)
          schema:
            type: string
          example: "your-api-token"
        - name: page
          in: query
          required: false
          description: "Número da página (padrão: 1)"
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: "Itens por página (padrão: 10, máximo: 100)"
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: startDate
          in: query
          required: false
          description: "Data início (ISO 8601: YYYY-MM-DDTHH:mm:ssZ)"
          schema:
            type: string
            format: date-time
          example: "2024-01-01T00:00:00Z"
        - name: endDate
          in: query
          required: false
          description: "Data fim (ISO 8601: YYYY-MM-DDTHH:mm:ssZ)"
          schema:
            type: string
            format: date-time
          example: "2024-01-31T23:59:59Z"
        - name: noAccess
          in: query
          required: false
          description: "Se `true`, retorna usuários SEM atividade no período"
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: Resumo de atividades retornado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySummaryResponse'
              example:
                users:
                  - email: "usuario@email.com"
                    ultimoAcesso: "2025-12-10T14:30:00.000Z"
                  - email: "outro@email.com"
                    ultimoAcesso: null
                pagination:
                  page: 1
                  limit: 10
                  totalCount: 150
                  totalPages: 15
                  hasNextPage: true
                  hasPrevPage: false
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              examples:
                invalidPagination:
                  summary: Paginação inválida
                  value:
                    ok: false
                    error: "page deve ser >= 1"
                    errorCode: "INVALID_PAGINATION"
                invalidDateFormat:
                  summary: Formato de data inválido
                  value:
                    ok: false
                    error: "formato de data inválido para startDate"
                    errorCode: "INVALID_DATE_FORMAT"
                invalidDateRange:
                  summary: Período inválido
                  value:
                    ok: false
                    error: "período máximo de 31 dias"
                    errorCode: "INVALID_DATE_RANGE"
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              example:
                ok: false
                error: "API key invalid"
                errorCode: "INVALID_API_KEY"
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Internal Server Error"
                message: "Internal server error"

  /api/v1/user/lessons/completed:
    get:
      tags:
        - Users
      summary: Listar aulas completadas por usuário
      description: |
        Retorna as aulas concluídas por um usuário específico, com informações do curso e data de conclusão.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
        
        **Regras de Data:**
        - Se `startDate` e `endDate` não informados → últimos 31 dias
        - Se apenas `startDate` → busca do início ao fim daquele dia
        - Se `endDate` sem `startDate` → erro
        - Se `startDate > endDate` → erro
        - Período máximo: **31 dias**
        
        **Cache:** Esta rota **NÃO usa cache** no Redis (dados em tempo real por usuário).
      operationId: getLessonsCompleted
      parameters:
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação (hash SHA256)
          schema:
            type: string
          example: "your-api-token"
        - name: email
          in: query
          required: true
          description: Email do usuário
          schema:
            type: string
            format: email
          example: "user@example.com"
        - name: page
          in: query
          required: false
          description: "Número da página (padrão: 1)"
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: "Itens por página (padrão: 10, máximo: 100)"
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: startDate
          in: query
          required: false
          description: "Data início (ISO 8601: YYYY-MM-DDTHH:mm:ssZ)"
          schema:
            type: string
            format: date-time
          example: "2024-01-01T00:00:00Z"
        - name: endDate
          in: query
          required: false
          description: "Data fim (ISO 8601: YYYY-MM-DDTHH:mm:ssZ)"
          schema:
            type: string
            format: date-time
          example: "2024-01-31T23:59:59Z"
        - name: courseId
          in: query
          required: false
          description: "Filtrar por curso específico"
          schema:
            type: string
          example: "course-123"
      responses:
        '200':
          description: Lista de aulas completadas retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LessonsCompletedResponse'
              example:
                ok: true
                data:
                  completedLessons:
                    - courseName: "Curso de JavaScript"
                      lessonName: "Introdução ao JS"
                      completedAt: "2025-12-10T14:30:00.000Z"
                    - courseName: "Curso de JavaScript"
                      lessonName: "Variáveis e Tipos"
                      completedAt: "2025-12-09T10:15:00.000Z"
                  pagination:
                    page: 1
                    limit: 10
                    totalCount: 25
                    totalPages: 3
                    hasNextPage: true
                    hasPrevPage: false
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              examples:
                missingEmail:
                  summary: Email não informado
                  value:
                    ok: false
                    error: "Parâmetro email é obrigatório"
                    errorCode: "MISSING_EMAIL"
                invalidPagination:
                  summary: Paginação inválida
                  value:
                    ok: false
                    error: "page deve ser >= 1"
                    errorCode: "INVALID_PAGINATION"
                invalidDateFormat:
                  summary: Formato de data inválido
                  value:
                    ok: false
                    error: "formato de data inválido para startDate"
                    errorCode: "INVALID_DATE_FORMAT"
                invalidDateRange:
                  summary: Período inválido
                  value:
                    ok: false
                    error: "período máximo de 31 dias"
                    errorCode: "INVALID_DATE_RANGE"
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              example:
                ok: false
                error: "API key invalid"
                errorCode: "INVALID_API_KEY"
        '404':
          description: Usuário não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              example:
                ok: false
                error: "Usuário não encontrado ou não pertence a este tenant"
                errorCode: "USER_NOT_IN_TENANT"
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Internal Server Error"
                message: "Internal server error"

  /api/v1/users/purchases:
    get:
      tags:
        - Users
      summary: Listar compras e reembolsos do usuário
      description: |
        Retorna uma lista paginada de compras e reembolsos de um usuário específico.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
        
        **Cache:** Este endpoint utiliza cache Redis com TTL de 300 segundos (5 minutos) para melhorar a performance.
        
        **Paginação:** Suporta parâmetros de paginação via query string.
        
        **Filtro por tipo:** É possível filtrar as transações por tipo (purchase ou refund) usando o parâmetro `type`.
      operationId: getUserPurchases
      parameters:
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação
          schema:
            type: string
          example: "your-api-token"
        - name: email
          in: query
          required: true
          description: Email do usuário
          schema:
            type: string
            format: email
          example: "user@example.com"
        - name: page
          in: query
          required: false
          description: "Número da página (padrão: 1)"
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: "Itens por página (padrão: 10, máximo: 100)"
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: type
          in: query
          required: false
          description: "Filtrar por tipo de transação: 'purchase' ou 'refund'"
          schema:
            type: string
            enum:
              - purchase
              - refund
          example: "purchase"
      responses:
        '200':
          description: Lista de compras e reembolsos retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPurchasesResponse'
              example:
                purchases:
                  - id: "event-123"
                    type: "purchase"
                    createdAt: "2024-01-15T10:30:00.000Z"
                    updatedAt: "2024-01-15T10:30:00.000Z"
                  - id: "event-456"
                    type: "purchase"
                    createdAt: "2024-01-14T15:20:00.000Z"
                    updatedAt: "2024-01-14T15:20:00.000Z"
                  - id: "event-789"
                    type: "refund"
                    createdAt: "2024-01-13T09:10:00.000Z"
                    updatedAt: "2024-01-13T09:10:00.000Z"
                pagination:
                  page: 1
                  limit: 10
                  totalCount: 15
                  totalPages: 2
                  hasNextPage: true
                  hasPrevPage: false
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              examples:
                emailRequired:
                  summary: Email não informado
                  value:
                    ok: false
                    error: "email é obrigatório"
                    errorCode: "MISSING_EMAIL"
                invalidPage:
                  summary: Página inválida
                  value:
                    error: "Bad Request"
                    message: "page must be a positive integer"
                invalidLimit:
                  summary: Limite inválido
                  value:
                    error: "Bad Request"
                    message: "limit must be between 1 and 100"
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
              example:
                ok: false
                error: "API key invalid"
                errorCode: "INVALID_API_KEY"
        '404':
          description: Usuário não encontrado ou não pertence ao tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              example:
                ok: false
                error: "Usuário não encontrado ou não pertence ao tenant autenticado"
                errorCode: "USER_NOT_FOUND"
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Internal Server Error"
                message: "Internal server error"

  /api/v1/social:
    post:
      tags:
        - Social
      summary: Criar ou atualizar post
      description: |
        Cria um novo post em um tópico ou atualiza um post existente, com validação de tenant, usuário e permissões.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
        
        **Fluxo:**
        1. Se `postId` for fornecido, atualiza o post existente (apenas owner ou dono do post)
        2. Se `postId` não for fornecido, cria um novo post no tópico especificado
        
        **Validações de Permissão:**
        - Se `topic.onlyAdmin = true`, apenas owners podem postar
        - Se o tópico tem deliveries vinculadas, usuário deve ter pelo menos uma delivery em comum
        - Owners podem postar em qualquer tópico
      operationId: createOrUpdatePost
      parameters:
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação (hash SHA256)
          schema:
            type: string
          example: "your-api-token"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSocialCommentRequest'
            examples:
              createPost:
                summary: Criar novo post
                value:
                  userId: "user-123"
                  topicId: "topic-456"
                  title: "Meu primeiro post"
                  content: "Este é o conteúdo do meu post"
                  image: "https://example.com/image.jpg"
                  videoEmbed: "https://youtube.com/watch?v=123"
              updatePost:
                summary: Atualizar post existente
                value:
                  userId: "user-123"
                  postId: "post-789"
                  title: "Título atualizado"
                  content: "Conteúdo atualizado"
                  image: "https://example.com/new-image.jpg"
      responses:
        '200':
          description: Post criado ou atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialCommentResponse'
              examples:
                createSuccess:
                  summary: Post criado
                  value:
                    ok: true
                    id: "post-123"
                updateSuccess:
                  summary: Post atualizado
                  value:
                    ok: true
                    id: "post-789"
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              examples:
                missingUser:
                  summary: userId não informado
                  value:
                    ok: false
                    error: "userId é obrigatório"
                    errorCode: "MISSING_USER"
                missingTopic:
                  summary: topicId não informado para criar
                  value:
                    ok: false
                    error: "topicId é obrigatório para criar post"
                    errorCode: "MISSING_TOPIC"
                missingTitle:
                  summary: title não informado
                  value:
                    ok: false
                    error: "title é obrigatório"
                    errorCode: "MISSING_TITLE"
                missingContent:
                  summary: content não informado
                  value:
                    ok: false
                    error: "content é obrigatório"
                    errorCode: "MISSING_CONTENT"
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              examples:
                missingApiKey:
                  summary: API key não informada
                  value:
                    ok: false
                    error: "Header mc-api-key é obrigatório"
                    errorCode: "MISSING_API_KEY"
                invalidApiKey:
                  summary: API key inválida
                  value:
                    ok: false
                    error: "API key invalid"
                    errorCode: "INVALID_API_KEY"
        '403':
          description: Permissão negada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              examples:
                permissionDenied:
                  summary: Usuário não pertence ao tenant
                  value:
                    ok: false
                    error: "Usuário não pertence ao tenant"
                    errorCode: "PERMISSION_DENIED"
                noAccessToTopic:
                  summary: Sem acesso ao tópico
                  value:
                    ok: false
                    error: "Você não tem acesso para publicar neste tópico"
                    errorCode: "NO_ACCESS_TO_TOPIC"
                cannotEditPost:
                  summary: Sem permissão para editar
                  value:
                    ok: false
                    error: "Você não tem autorização para fazer esta ação"
                    errorCode: "PERMISSION_DENIED"
        '404':
          description: Recurso não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              examples:
                postNotFound:
                  summary: Post não encontrado
                  value:
                    ok: false
                    error: "Post não encontrado"
                    errorCode: "POST_NOT_FOUND"
                topicNotFound:
                  summary: Tópico não existe
                  value:
                    ok: false
                    error: "Tópico não existe"
                    errorCode: "TOPIC_NOT_FOUND"
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Internal Server Error"
                message: "Internal server error"

  /api/v1/comments/{commentID}:
    patch:
      tags:
        - Comments
      summary: Atualizar comentário (parcial)
      description: |
        Atualiza parcialmente a resposta e o status de publicação de um comentário específico.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
      operationId: updateCommentPartial
      parameters:
        - name: commentID
          in: path
          required: true
          description: ID do comentário
          schema:
            type: string
          example: "comment-123"
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação
          schema:
            type: string
          example: "your-api-token"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCommentRequest'
            example:
              answer: "Esta é a resposta para o comentário"
              published: true
      responses:
        '200':
          description: Comentário atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentResponse'
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
              example:
                ok: false
                error: "API key invalid"
                errorCode: "INVALID_API_KEY"
        '404':
          description: Comentário não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/student/report:
    get:
      tags:
        - Students
      summary: Relatório de alunos do tenant
      description: |
        Retorna um relatório detalhado dos alunos de um tenant, incluindo informações de cadastro, entregas vinculadas, acessos e aulas assistidas.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
        
        **Cache:** Este endpoint utiliza cache Redis com TTL de 300 segundos (5 minutos). A chave de cache é gerada usando MD5 hash dos parâmetros.
        
        **Filtros de Data:**
        - `startDate` e `endDate` são opcionais
        - Se ambos forem fornecidos, `startDate` não pode ser maior que `endDate`
        - O filtro é aplicado no campo `assignedAt` (data de cadastro) de UsersOnTenants
        
        **Formato de Data:** ISO 8601 (YYYY-MM-DDTHH:mm:ssZ)
      operationId: getStudentReport
      parameters:
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação (hash SHA256)
          schema:
            type: string
          example: "your-api-token"
        - name: page
          in: query
          required: false
          description: "Número da página (padrão: 1, mínimo: 1)"
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: "Itens por página (padrão: 10, mínimo: 1, máximo: 100)"
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: startDate
          in: query
          required: false
          description: "Data inicial para filtrar por data de cadastro (ISO 8601: YYYY-MM-DDTHH:mm:ssZ)"
          schema:
            type: string
            format: date-time
          example: "2024-01-15T00:00:00Z"
        - name: endDate
          in: query
          required: false
          description: "Data final para filtrar por data de cadastro (ISO 8601: YYYY-MM-DDTHH:mm:ssZ)"
          schema:
            type: string
            format: date-time
          example: "2024-12-31T23:59:59Z"
      responses:
        '200':
          description: Relatório retornado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentReportResponse'
              example:
                alunos:
                  - aluno_id_member_class: "user-123"
                    email: "aluno@example.com"
                    cpf: "12345678900"
                    data_cadastro: "2024-01-15T10:30:00.000Z"
                    entregas_vinculadas:
                      - "Entrega 1"
                      - "Entrega 2"
                    ultimo_acesso: "2024-01-20T15:45:00.000Z"
                    quantidade_aulas_assistidas: 2
                    aulas_assistidas:
                      - aula_id: "lesson-123"
                        titulo: "Aula 1 - Introdução"
                        data_assistida: "2024-01-18T14:00:00.000Z"
                      - aula_id: "lesson-456"
                        titulo: "Aula 2 - Conceitos Básicos"
                        data_assistida: "2024-01-19T10:00:00.000Z"
                pagination:
                  page: 1
                  limit: 10
                  totalCount: 150
                  totalPages: 15
                  hasNextPage: true
                  hasPrevPage: false
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              examples:
                invalidPagination:
                  summary: Paginação inválida
                  value:
                    ok: false
                    error: "Parâmetros de paginação inválidos. page >= 1, limit entre 1 e 100"
                    errorCode: "INVALID_PAGINATION"
                invalidDateFormat:
                  summary: Formato de data inválido
                  value:
                    ok: false
                    error: "Formato de data inválido para startDate. Use ISO 8601 (YYYY-MM-DDTHH:mm:ssZ)"
                    errorCode: "INVALID_DATE_FORMAT"
                invalidDateRange:
                  summary: Período inválido
                  value:
                    ok: false
                    error: "startDate não pode ser maior que endDate"
                    errorCode: "INVALID_DATE_RANGE"
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              examples:
                missingApiKey:
                  summary: API key não informada
                  value:
                    ok: false
                    error: "Header mc-api-key é obrigatório"
                    errorCode: "MISSING_API_KEY"
                invalidApiKey:
                  summary: API key inválida
                  value:
                    ok: false
                    error: "API key inválida"
                    errorCode: "INVALID_API_KEY"
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
              example:
                ok: false
                error: "Erro interno do servidor"
                errorCode: "INTERNAL_ERROR"

  /api/v1/catalog:
    get:
      tags:
        - Catalog
      summary: Listar catálogo completo
      description: |
        Retorna todas as vitrines do tenant com sua hierarquia completa: vitrines > cursos > módulos > aulas.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
        
        O tenant é identificado automaticamente pelo token de API.
      operationId: getCatalog
      parameters:
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação
          schema:
            type: string
          example: "your-api-token"
      responses:
        '200':
          description: Catálogo retornado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'

  /api/v1/catalog/vitrines/{vitrineId}:
    get:
      tags:
        - Catalog
      summary: Buscar vitrine por ID
      description: |
        Retorna uma vitrine específica pelo ID. Pode incluir ou não os filhos (cursos, módulos e aulas) através do parâmetro `includeChildren`.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
      operationId: getVitrine
      parameters:
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação
          schema:
            type: string
          example: "your-api-token"
        - name: vitrineId
          in: path
          required: true
          description: ID da vitrine
          schema:
            type: string
          example: "vitrine-123"
        - name: includeChildren
          in: query
          required: false
          description: Se `true`, inclui cursos, módulos e aulas na resposta
          schema:
            type: boolean
            default: false
          example: true
      responses:
        '200':
          description: Vitrine retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitrineDetailResponse'
        '404':
          description: Vitrine não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'

  /api/v1/catalog/courses/{courseId}:
    get:
      tags:
        - Catalog
      summary: Buscar curso por ID
      description: |
        Retorna um curso específico pelo ID. Pode incluir ou não os filhos (módulos e aulas) através do parâmetro `includeChildren`.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
      operationId: getCourse
      parameters:
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação
          schema:
            type: string
          example: "your-api-token"
        - name: courseId
          in: path
          required: true
          description: ID do curso
          schema:
            type: string
          example: "course-123"
        - name: includeChildren
          in: query
          required: false
          description: Se `true`, inclui módulos e aulas na resposta
          schema:
            type: boolean
            default: false
          example: true
      responses:
        '200':
          description: Curso retornado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetailResponse'
        '404':
          description: Curso não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'

  /api/v1/catalog/modules/{moduleId}:
    get:
      tags:
        - Catalog
      summary: Buscar módulo por ID
      description: |
        Retorna um módulo específico pelo ID. Pode incluir ou não os filhos (aulas) através do parâmetro `includeChildren`.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
      operationId: getModule
      parameters:
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação
          schema:
            type: string
          example: "your-api-token"
        - name: moduleId
          in: path
          required: true
          description: ID do módulo
          schema:
            type: string
          example: "module-123"
        - name: includeChildren
          in: query
          required: false
          description: Se `true`, inclui aulas na resposta
          schema:
            type: boolean
            default: false
          example: true
      responses:
        '200':
          description: Módulo retornado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleDetailResponse'
        '404':
          description: Módulo não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'

  /api/v1/catalog/lessons/{lessonId}:
    get:
      tags:
        - Catalog
      summary: Buscar aula por ID
      description: |
        Retorna uma aula específica pelo ID. Aulas não possuem filhos.
        
        **Autenticação:** Requer header `mc-api-key` com token de API válido.
      operationId: getLesson
      parameters:
        - name: mc-api-key
          in: header
          required: true
          description: Token de API para autenticação
          schema:
            type: string
          example: "your-api-token"
        - name: lessonId
          in: path
          required: true
          description: ID da aula
          schema:
            type: string
          example: "lesson-123"
      responses:
        '200':
          description: Aula retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LessonDetailResponse'
        '404':
          description: Aula não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Tipo do erro HTTP
        message:
          type: string
          description: Mensagem descritiva do erro

    UnauthorizedResponse:
      type: object
      properties:
        ok:
          type: boolean
          description: Indica se a operação foi bem-sucedida
          example: false
        error:
          type: string
          description: Mensagem de erro
          example: "API key invalid"
        errorCode:
          type: string
          description: Código do erro
          example: "INVALID_API_KEY"

    UpdateCommentRequest:
      type: object
      required:
        - answer
      properties:
        answer:
          type: string
          description: Resposta para o comentário
          example: "Esta é a resposta para o comentário"
        published:
          type: boolean
          description: Indica se o comentário deve ser publicado
          example: true

    CommentResponse:
      type: object
      properties:
        id:
          type: string
          description: ID do comentário
          example: "comment-123"
        createdAt:
          type: string
          format: date-time
          description: Data e hora de criação (ISO 8601)
          example: "2024-01-15T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          description: Data e hora da última atualização (ISO 8601)
          example: "2024-01-15T11:00:00Z"
        question:
          type: string
          description: Pergunta do comentário
          example: "Qual é a dúvida?"
        answer:
          type: string
          nullable: true
          description: Resposta do comentário (null se não respondido)
          example: "Esta é a resposta para o comentário"
        published:
          type: boolean
          nullable: true
          description: Indica se o comentário está publicado (null = pendente, true = aprovado, false = rejeitado)
          example: true
        lessonName:
          type: string
          description: Nome da aula
          example: "Aula 01"
        courseName:
          type: string
          description: Nome do curso
          example: "Curso de Go"
        username:
          type: string
          description: Nome do usuário
          example: "João Silva"
        userEmail:
          type: string
          description: Email do usuário
          example: "joao@example.com"

    CommentsPaginationResponse:
      type: object
      properties:
        comments:
          type: array
          items:
            $ref: '#/components/schemas/CommentResponse'
          description: Lista de comentários
        pagination:
          $ref: '#/components/schemas/CommentsPaginationMeta'

    CommentsPaginationMeta:
      type: object
      properties:
        page:
          type: integer
          description: Página atual
          example: 1
        limit:
          type: integer
          description: Limite de itens por página
          example: 10
        totalCount:
          type: integer
          format: int64
          description: Total de comentários
          example: 25
        totalPages:
          type: integer
          description: Total de páginas
          example: 3
        hasNextPage:
          type: boolean
          description: Indica se há próxima página
          example: true
        hasPrevPage:
          type: boolean
          description: Indica se há página anterior
          example: false

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          description: Número da página atual
          example: 1
        pageSize:
          type: integer
          description: Tamanho da página
          example: 10
        total:
          type: integer
          description: Total de registros
          example: 25
        totalPages:
          type: integer
          description: Total de páginas
          example: 3
        hasNext:
          type: boolean
          description: Indica se há próxima página
          example: true
        hasPrev:
          type: boolean
          description: Indica se há página anterior
          example: false

    AccessData:
      type: object
      properties:
        data:
          type: string
          description: Dados da atividade de acesso
          example: "2024-01-15T10:30:00Z - Acessou a aula 'Introdução ao Golang'"

    ActivityPagination:
      type: object
      properties:
        page:
          type: integer
          description: Número da página atual
          example: 1
        limit:
          type: integer
          description: Limite de itens por página
          example: 10
        totalCount:
          type: integer
          description: Total de registros
          example: 25
        totalPages:
          type: integer
          description: Total de páginas
          example: 3
        hasNextPage:
          type: boolean
          description: Indica se há próxima página
          example: true
        hasPrevPage:
          type: boolean
          description: Indica se há página anterior
          example: false

    ActivityResponse:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email do usuário
          example: "user@example.com"
        access:
          type: array
          items:
            $ref: '#/components/schemas/AccessData'
          description: Lista de atividades de acesso
        pagination:
          $ref: '#/components/schemas/ActivityPagination'

    UserPurchaseData:
      type: object
      properties:
        id:
          type: string
          description: ID do evento de compra/reembolso
          example: "event-123"
        type:
          type: string
          description: Tipo da transação (purchase ou refund)
          enum:
            - purchase
            - refund
          example: "purchase"
        createdAt:
          type: string
          format: date-time
          description: Data e hora da criação da transação
          example: "2024-01-15T10:30:00.000Z"
        updatedAt:
          type: string
          format: date-time
          description: Data e hora da última atualização da transação
          example: "2024-01-15T10:30:00.000Z"

    UserPurchasesResponse:
      type: object
      properties:
        purchases:
          type: array
          items:
            $ref: '#/components/schemas/UserPurchaseData'
          description: Lista de compras e reembolsos
        pagination:
          $ref: '#/components/schemas/ActivityPagination'

    CustomErrorResponse:
      type: object
      properties:
        ok:
          type: boolean
          description: Indica se a operação foi bem-sucedida
          example: false
        error:
          type: string
          description: Mensagem de erro
          example: "email é obrigatório"
        errorCode:
          type: string
          description: Código do erro
          example: "MISSING_EMAIL"

    UserInformationsResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserInformation'
          description: Lista de usuários
        pagination:
          $ref: '#/components/schemas/UserInformationsPagination'

    UserInformation:
      type: object
      properties:
        userId:
          type: string
          description: ID do usuário
          example: "user-123"
        email:
          type: string
          format: email
          description: Email do usuário
          example: "usuario@exemplo.com"
        isPaid:
          type: boolean
          description: Indica se o usuário é pagante
          example: true
        deliveries:
          type: array
          items:
            $ref: '#/components/schemas/DeliveryInfo'
          description: Lista de entregas (cursos) do usuário
        lastAccess:
          type: string
          format: date-time
          nullable: true
          description: Data do último acesso
          example: "2024-03-10T09:15:00Z"

    DeliveryInfo:
      type: object
      properties:
        id:
          type: string
          description: ID da entrega
          example: "delivery-123"
        name:
          type: string
          description: Nome do curso/entrega
          example: "Curso de Programação"
        accessDate:
          type: string
          format: date-time
          description: Data de acesso à entrega
          example: "2024-01-15T10:30:00Z"

    UserInformationsPagination:
      type: object
      properties:
        page:
          type: integer
          description: Página atual
          example: 1
        totalPages:
          type: integer
          description: Total de páginas
          example: 5
        totalItems:
          type: integer
          description: Total de itens
          example: 50
        itemsPerPage:
          type: integer
          description: Itens por página
          example: 10
        hasNextPage:
          type: boolean
          description: Indica se há próxima página
          example: true
        hasPreviousPage:
          type: boolean
          description: Indica se há página anterior
          example: false

    CreateSocialCommentRequest:
      type: object
      required:
        - userId
        - title
        - content
      properties:
        userId:
          type: string
          description: ID do usuário que está criando/atualizando o post
          example: "user-123"
        topicId:
          type: string
          description: ID do tópico (obrigatório para criar post)
          example: "topic-456"
        postId:
          type: string
          description: ID do post (obrigatório para atualizar post)
          example: "post-789"
        tenantId:
          type: string
          description: ID do tenant (opcional, obtido do contexto)
          example: "tenant-123"
        title:
          type: string
          description: Título do post
          example: "Meu primeiro post"
        content:
          type: string
          description: Conteúdo do post
          example: "Este é o conteúdo do meu post"
        image:
          type: string
          nullable: true
          description: URL da imagem do post (opcional)
          example: "https://example.com/image.jpg"
        videoEmbed:
          type: string
          nullable: true
          description: URL do vídeo embed (opcional)
          example: "https://youtube.com/watch?v=123"

    SocialCommentResponse:
      type: object
      properties:
        ok:
          type: boolean
          description: Indica se a operação foi bem-sucedida
          example: true
        id:
          type: string
          description: ID do post criado ou atualizado
          example: "post-123"

    UserActivitySummary:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email do usuário
          example: "usuario@email.com"
        ultimoAcesso:
          type: string
          format: date-time
          nullable: true
          description: Data do último acesso no período
          example: "2025-12-10T14:30:00.000Z"

    ActivitySummaryPagination:
      type: object
      properties:
        page:
          type: integer
          description: Página atual
          example: 1
        limit:
          type: integer
          description: Itens por página
          example: 10
        totalCount:
          type: integer
          description: Total de itens
          example: 150
        totalPages:
          type: integer
          description: Total de páginas
          example: 15
        hasNextPage:
          type: boolean
          description: Indica se há próxima página
          example: true
        hasPrevPage:
          type: boolean
          description: Indica se há página anterior
          example: false

    ActivitySummaryResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserActivitySummary'
          description: Lista de usuários com suas atividades
        pagination:
          $ref: '#/components/schemas/ActivitySummaryPagination'

    CompletedLesson:
      type: object
      properties:
        courseName:
          type: string
          description: Nome do curso
          example: "Curso de JavaScript"
        lessonName:
          type: string
          description: Nome da aula
          example: "Introdução ao JS"
        completedAt:
          type: string
          format: date-time
          description: Data de conclusão
          example: "2025-12-10T14:30:00.000Z"

    LessonsCompletedData:
      type: object
      properties:
        completedLessons:
          type: array
          items:
            $ref: '#/components/schemas/CompletedLesson'
          description: Lista de aulas completadas
        pagination:
          type: object
          properties:
            page:
              type: integer
              description: Página atual
              example: 1
            limit:
              type: integer
              description: Itens por página
              example: 10
            totalCount:
              type: integer
              description: Total de itens
              example: 25
            totalPages:
              type: integer
              description: Total de páginas
              example: 3
            hasNextPage:
              type: boolean
              description: Indica se há próxima página
              example: true
            hasPrevPage:
              type: boolean
              description: Indica se há página anterior
              example: false

    LessonsCompletedResponse:
      type: object
      properties:
        ok:
          type: boolean
          description: Indica se a operação foi bem-sucedida
          example: true
        data:
          $ref: '#/components/schemas/LessonsCompletedData'
        lessons:
          type: array
          items:
            $ref: '#/components/schemas/LessonCompletedData'
          description: Lista de aulas completadas
        pagination:
          $ref: '#/components/schemas/ActivityPagination'

    StudentReportResponse:
      type: object
      properties:
        alunos:
          type: array
          items:
            $ref: '#/components/schemas/StudentReport'
          description: Lista de alunos do tenant
        pagination:
          $ref: '#/components/schemas/StudentReportPagination'

    StudentReport:
      type: object
      properties:
        aluno_id_member_class:
          type: string
          description: ID do aluno no MemberClass
          example: "user-123"
        email:
          type: string
          format: email
          description: Email do aluno
          example: "aluno@example.com"
        cpf:
          type: string
          description: CPF do aluno (pode ser vazio)
          example: "12345678900"
        data_cadastro:
          type: string
          format: date-time
          description: Data de cadastro do aluno
          example: "2024-01-15T10:30:00.000Z"
        entregas_vinculadas:
          type: array
          items:
            type: string
          description: Lista de nomes das entregas vinculadas ao aluno
          example:
            - "Entrega 1"
            - "Entrega 2"
        ultimo_acesso:
          type: string
          format: date-time
          nullable: true
          description: Data e hora do último acesso (null se nunca acessou)
          example: "2024-01-20T15:45:00.000Z"
        quantidade_aulas_assistidas:
          type: integer
          description: Quantidade total de aulas assistidas
          example: 10
        aulas_assistidas:
          type: array
          items:
            $ref: '#/components/schemas/LessonWatched'
          description: Lista de aulas assistidas pelo aluno

    LessonWatched:
      type: object
      properties:
        aula_id:
          type: string
          description: ID da aula
          example: "lesson-123"
        titulo:
          type: string
          description: Título da aula
          example: "Aula 1 - Introdução"
        data_assistida:
          type: string
          format: date-time
          description: Data e hora em que a aula foi assistida
          example: "2024-01-18T14:00:00.000Z"

    StudentReportPagination:
      type: object
      properties:
        page:
          type: integer
          description: Número da página atual
          example: 1
        limit:
          type: integer
          description: Itens por página
          example: 10
        totalCount:
          type: integer
          description: Total de registros
          example: 150
        totalPages:
          type: integer
          description: Total de páginas
          example: 15
        hasNextPage:
          type: boolean
          description: Indica se há próxima página
          example: true
        hasPrevPage:
          type: boolean
          description: Indica se há página anterior
          example: false

    CatalogResponse:
      type: object
      properties:
        vitrines:
          type: array
          items:
            $ref: '#/components/schemas/VitrineData'
          description: Lista de vitrines com sua hierarquia completa
        total:
          type: integer
          description: Total de vitrines
          example: 5

    VitrineData:
      type: object
      properties:
        id:
          type: string
          description: ID da vitrine
          example: "vitrine-123"
        name:
          type: string
          description: Nome da vitrine
          example: "Vitrine Principal"
        order:
          type: integer
          nullable: true
          description: Ordem de exibição
          example: 1
        courses:
          type: array
          items:
            $ref: '#/components/schemas/CourseData'
          description: Lista de cursos (apenas quando includeChildren=true)

    CourseData:
      type: object
      properties:
        id:
          type: string
          description: ID do curso
          example: "course-123"
        name:
          type: string
          description: Nome do curso
          example: "Curso de JavaScript"
        order:
          type: integer
          nullable: true
          description: Ordem de exibição
          example: 1
        modules:
          type: array
          items:
            $ref: '#/components/schemas/ModuleData'
          description: Lista de módulos (apenas quando includeChildren=true)

    ModuleData:
      type: object
      properties:
        id:
          type: string
          description: ID do módulo
          example: "module-123"
        name:
          type: string
          description: Nome do módulo
          example: "Módulo 1 - Fundamentos"
        order:
          type: integer
          nullable: true
          description: Ordem de exibição
          example: 1
        lessons:
          type: array
          items:
            $ref: '#/components/schemas/LessonData'
          description: Lista de aulas (apenas quando includeChildren=true)

    LessonData:
      type: object
      properties:
        id:
          type: string
          description: ID da aula
          example: "lesson-123"
        name:
          type: string
          description: Nome da aula
          example: "Aula 1 - Introdução"
        slug:
          type: string
          nullable: true
          description: Slug da aula
          example: "aula-1-introducao"
        type:
          type: string
          nullable: true
          description: Tipo da aula
          example: "video"
        mediaUrl:
          type: string
          nullable: true
          description: URL da mídia
          example: "https://example.com/video.mp4"
        thumbnail:
          type: string
          nullable: true
          description: URL da thumbnail
          example: "https://example.com/thumb.jpg"
        order:
          type: integer
          nullable: true
          description: Ordem de exibição
          example: 1

    VitrineDetailResponse:
      type: object
      properties:
        vitrine:
          $ref: '#/components/schemas/VitrineData'

    CourseDetailResponse:
      type: object
      properties:
        course:
          $ref: '#/components/schemas/CourseData'

    ModuleDetailResponse:
      type: object
      properties:
        module:
          $ref: '#/components/schemas/ModuleData'

    LessonDetailResponse:
      type: object
      properties:
        lesson:
          $ref: '#/components/schemas/LessonData'

